<!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <marquee>Welcome to ABC Infotech Pvt Ltd.</marquee>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>WHY US?</h4>
                    </div>
                    <div class="panel-body">
                        <p>It's important to be first in your niche and profitable which means being both speedy and efficient, making Feature Software Solutions your obvious choice. We provide fast, at minimal cost, using the latest technology.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>OUR MISSION</h4>
                    </div>
                    <div class="panel-body">
                        <p>Our Mission is to continue to hire a professional workforce with the skills and expertise necessary to stay on top of the growing website demands so that we can provide leading web design and development services.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>OUR VISION</h4>
                    </div>
                    <div class="panel-body">
                        <p>To be a leader in our chosen markets by 2015, by building strong bond with our Domestic and International Clients. Our company withhold our promise to maintain providing fast and affordable services for clients from all over the world</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">ABC Infotech Features</h2>
            </div>
            <div class="col-md-6">
                <p>The ABC Infotech Pvt. Ltd includes:</p>
                <ul>
                    <li><strong>Being passionate about your project</strong>
                    </li>
                    <li>Providing an innovative solution</li>
                    <li>Focusing on your market niche</li>
                    <li>Knowing what your customers want</li>
                    <li>Providing good user experience</li>
                    <li>Providing constant communication</li>
                </ul>
                <p style=" text-align: justify;">We are passionate about creating unique solutions that could meet the specific requirements of our customers. More than that we are their trusted partners who help them to steer towards success. We collaborate with the members of all levels of their organization to bring out the peerless solutions that streamline their business.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="img/tech.jfif" alt="image" style="height:250px; width: 700px;">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h3>ONE STEP TOWORDS SUCCESS.....................!!! </h3>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Website 2014</p>
                </div>
            </div>
        </footer>