 <!-- Service Panels -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Services Panels</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4>Full Stack Devloper</h4>
                        <p>Structuring stable server backends that are swift in fetching data from multiple points under a single window web interface. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4>Cloud Services</h4>
                        <p>Offering high-performing cloud platforms helpful in building, deploying and managing enterprise applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4>Software Testing</h4>
                        <p>checking for errors and bugs, providing recommendations on how to improve the functionality and performance.</p>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4>UI/UX development</h4>
                        <p>We will deliver our best efforts to ingeniously turn your ideas and thoughts into a clear and fully functional design.</p>
                    </div>
                </div>
            </div>
            
            </div>

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Service One</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Service Two</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-support"></i> Service Three</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-database"></i> Service Four</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Full Stack Devloper</h4>
                        <p>Full-stack development services are trending at a great pace. After all, every business requires professionals with extensive know-how about everything from back-end, database to front-end.Thus, the firms are keen on hiring full-stack developers well-versed with server & front-end development knowledge & skills and also specialize in just everything; starting from the concept and ideation stage to finished product.</p>
                        <p>At Octal IT Solution, our set of seasoned and agile Full-stack engineers excel in front-end as well as back-end technologies owing to immense experience backing them up. These developers have wide- experience in switching roles between the front-end & back-end development, thus they succeed to deliver end-to-end solutions to our clients. We specialise in offering wide-ranging full-stackdevelopment services comprising of PHP to MEAN Stack, Ruby on Rails, Angular JS, Node JS & others.</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Cloud Services</h4>
                        <p>Highly reliable on demand cloud hosting with elastic scalability perfect for object storage.Azure is an enterprise-grade integrated cloud computing platform that comes with PaaS, SaaS, IaaS models.Best suited for software, media and application delivery, Akamai is a front-running Content Delivery Network (CDN).</p>
                        <p>Offered by IBM, this cloud computing solution comes with platform (PaaS) and infrastructure as a service (IaaS) offerings.Integrated with the Google-grace cloud security measures, this pay-as-you-use platform is just what you need.</p>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Software Testing</h4>
                        <p></p>
                        <p>Checking for errors and bugs, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.</p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>UI/UX development</h4>
                        <p>React, a JavaScript library is a next-level web technology to create scaling & robust applications. This proves useful in developing quick & iterative interfaced maintained by Instagram & Facebook. This technology promptly updates & renders right component as the data changes to a user’s input.</p>
                        <p>This futuristic javascript framework has taken mobile & web application development to a next level. Not only it is versatile and approachable, but also performant and it results in high-performing apps that are of small sizes and take lesser amount of coding.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service List</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Custom Web Development</h4>
                        <p>A good Website Development Company can only build an authentic online image with its expertise in building custom & Scalable web solutions..</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">PHP Development Services</h4>
                        <p>We are a Renowned PHP Development Service Provider Catering To Diverse Industry Verticals With Our Bespoke and Modular Web Services.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Drupal Development Services</h4>
                        <p>We meet the development goals set by you in a quick and cost-effective manner Our Drupal Developers take care of every aspect of your project</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Asp.Net Development Services</h4>
                        <p>Get Scalable, Robust and Tailored Asp.Net Solutions at Every Stage of Development With Our ASP.NET Application Development Services.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bomb fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"> MEAN stack development services</h4>
                        <p>Our proficient developers offer specialized MEAN stack development services to create advanced web apps for diverse industry verticals..</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">MongoDB</h4>
                        <p>As a professional MEAN stack development company, we can use the dynamic schema of MongoDB </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Express JS</h4>
                        <p>his web server framework of Node.js is extremely flexible, lightweight, and minimal. It offers multiple robust features for building a wide range of web and mobile applications.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Azure Cloud Platform</h4>
                        <p>Azure allows businesses to quickly deploy applications in the cloud, which saves on infrastructure costs while reducing the hardware and maintenance burdens</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">CodeIgniter Development</h4>
                        <p>Our Team of Highly Skilled CodeIgniter Developers Enables Us to Deliver Creative and Result Oriented Web Development Services to Serve Your Businesses.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Website 2014</p>
                </div>
            </div>
        </footer>